@use '../../styles/colors';

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 3.75rem;
  background: rgb(2, 0, 36);
  background: colors.$blueGradient;
  border-bottom: 1px solid grey;

  .signUp {
    display: flex;
    gap: 0.5rem;
  }

  .navbarMenuWrapper {
    display: flex;
    gap: 0.5rem;
  }

  .navbarLogo {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    color: #000;
    text-decoration: none;
  }

  .navbarMenu {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;

    .navbarMenuItem a {
      margin-left: 20px;
      font-size: 16px;
      font-weight: 700;
      color: white;
      text-decoration: none;
      cursor: pointer;
    }
  }
}
